@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}